#MainPiano {
	// border: 1px solid red;
	// width: 100vw;
	--key-width: '';
	--black-key-width: calc(var(--key-width) * 0.6);
	main {
		display: flex;
		position: relative;
		height: 100%;
		width: 100%;
		overflow: auto;

		.piano-key {
			&.white {
				width: var(--key-width);
				background-color: white;
				border-right: 1px solid #aaa;

				.note-name {
					position: absolute;
					bottom: calc(var(--key-width) * 0.2);
					width: var(--key-width);
					// border: 1px solid red;

					span {
						// color: black;
						font-size: min(calc(var(--key-width) * 0.36), 16px);
						padding: calc(var(--key-width) * 0.1);
					}
				}
			}

			&.black {
				border: 1px solid #aaa;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
				position: relative;
				height: 55%;
				width: var(--black-key-width);
				margin-right: calc(calc(var(--black-key-width) / 2) * -1);
				margin-left: calc(calc(var(--black-key-width) / 2) * -1);
				z-index: 2;
				background-color: black;

				.note-name {
					display: none;
				}
			}
		}
	}
}
