#SettingsPane {
	// border: 1px solid red;
	// width: 100vw;
	display: flex;
	align-items: center;

	.content {
		position: fixed;
		width: 100%;
		padding-inline: 1rem;

		.visible-keys {
			display: flex;
			flex-direction: column;

			p {
				text-align: right;
			}

			.selectors {
				display: flex;
				align-items: center;
				justify-content: right;
			}
		}
	}
}
